* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.background-circle {
    position: absolute;
    width: 100%;    
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.7;
}

.yellow {
    background-color: #f1c40f;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 30%;
}
.green {
background-color: #27ae60;
width: 100px;
height: 100px;
top: 55%;
left: 50%;
}

.orange {
    background-color: #ff5733;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 27%;
    left: 50%;
}

.purple {
    background-color: #8e44ad;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 45%;
}



.login-box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 400px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-box h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}
.new-login{
    width: 50%;
}

.new-login p {
    font-size: 25px;
    color: #333;
    margin-top: 2%;
}
.new-login h3{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.login-form{
    width: 50%;
}

.new-login h3, .login-form h3 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.create-account {
    padding: 0.5rem 1rem;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}



.social-icon img {
    width: 30px;
    cursor: pointer;
}

.login-form label {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 14px;
    width: 100%;
}

.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.toggle-visiblity {
    cursor: pointer;
}

.enter {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

